@import url('https://fonts.google.com/specimen/Josefin+Sans');

* {
    font-family: 'Josefin Sans', sans-serif;
}

input, button {
    border-radius: .3em;
    border: none;
    outline: none;
}

.todo-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 70%;
    margin: auto;
    background-color: rgb(114, 194, 231);
}

.todo-card button, .todo-card input {
    padding: .25em 1em;
}

.create-todo-form {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 50%;
    margin: auto;
    padding: 1em 0em;
}

.create-todo-form > input {
    margin-right: 1em;
}

